@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f0eb;
  color: #2c1810;
  font-family: 'Jost', sans-serif;
}